<%- include('parts/html_head') %>
<div class="container">
<%- include('parts/navbar') %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">姓名</th>
                <th scope="col">年齡</th>
                <th scope="col">員工編號</th>
            </tr>
        </thead>
        <tbody>
            <!-- <%# for(let i = 0; i<sales.length; i++) { %>
            <tr>
                <td><%#= sales[i].name %></td>
                <td><%#= sales[i].age %></td>
                <td><%#= sales[i].id %></td>
            </tr>
            <%# } %> -->
            <% for(let item of sales) { %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.age %></td>
                <td><%= item.id %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<%- include('parts/html_foot') %>