<%- include('parts/html_head') %>
<div class="container">
<%- include('parts/navbar') %>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">account</th>
        <th scope="col">status</th>
        <th scope="col">create time</th>

    </tr>
    </thead>
    <tbody>
    <% for(let r of rows){ %>
    <tr>
        <td><%= r.bid %></td>
        <td><%= r.account %></td>
        <td><%= r.status %></td>
        <td><%= r.create_time %></td>

    </tr>
    <% } %>
    </tbody>
</table>


</div>
<%- include('parts/html_foot') %>